{
    "plugins": [
        "react",
        "prettier"
    ],
    "extends": ["airbnb-base", "prettier", "prettier/react"],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2016,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "rules": {
            "no-unused-vars": 0,
            "react/jsx-uses-react": "error",
            "react/jsx-uses-vars": "error",
            "max-len": [1, 120, 2, {
                ignoreComments: true
            }],
            "prop-types": [2]
        }
    }
}