// Colors
$generic-color: #222;
$light-grey: #ddd;
$yellow: #ecd078;
$orange: #ef6c00;
$red: #c02942;
$purple: #542437;
$blue: #53777a;

// Spacing
$space: 1.4rem;
$site-max-width: 60rem;

// Shadows

$box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

// Font sizes
$base-font-size: 1.4rem;

// Form inputs
$input-border: $light-grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $light-grey;
$boxed-view-bg: #fff;

// Button
$button-bg: $orange;
$button-color: #fff;
$button-secondary-bg: #f9f9f9;
$button-secondary-color: #777;
$button-secondary-border-color: $light-grey;

// Header
$header-bg: $orange;
$header-color: #fff;
